
/* body { */
  /* margin: 0px; */
  /* padding: 0px; */
  /* background: #f5f5f5; */
  /* font-family: 'Segoe UI'; */
/* } */

ul.resp-tabs-list,
p {
  margin: 0px;
  padding: 0px;
}

/* .resp-tabs-list li { */
  /* font-weight: 600; */
  /* font-size: 13px; */
  /* display: inline-block; */
  /* padding: 13px 15px; */
  /* margin: 0; */
  /* list-style: none; */
  /* cursor: pointer; */
  /* float: left; */
/* } */

.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
/* display: none; */
/* padding: 15px; */
float:left;
width:100%;  
opacity: 1;
}	

/* .resp-tab-active { */
  /* border: 1px solid #c1c1c1; */
  /* border-bottom: none; */
  /* margin-bottom: -1px !important; */
  /* padding: 12px 14px 14px 14px !important; */
/* } */
/* .resp-tab-active { */
  /* border-bottom: none; */
  /* background-color: #fff; */
/* } */

.resp-content-active,
.resp-accordion-active { display: block; }

/* .resp-tab-content { border: 1px solid #c1c1c1; } */
h2.resp-accordion {
background-color: #18b5d6;
color: #fff;
border-radius: 4px;
margin-right: 10px;
padding: 8px 18px;
width: 180px;
text-align: center;
-webkit-transition: .5s;
-moz-transition: .5s;
-o-transition: .5s;
transition: .5s;
font-family: 'open_sansregular';
font-size:14px;	
margin: 0 !important;
float:left;
width:100%;
margin: 5px 0px !important;
}


/* h2.resp-tab-active { */
  /* border-bottom: 0px solid #c1c1c1 !important; */
  /* margin-bottom: 0px !important; */
  /* padding: 10px 15px !important; */
/* } */

/* h2.resp-tab-title:last-child { */
  /* border-bottom: 12px solid #c1c1c1 !important; */
  /* background: blue; */
/* } */

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 15px 15px !important;
  margin: 0;
  cursor: pointer;
  float: none;
}

.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  float: left;
  width: 68%;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
}

.resp-vtabs .resp-tab-content { border: none; }

.resp-vtabs li.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-right: none;
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin-right: -1px !important;
  padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
width: 0px;
height: 0px;
float: right;
margin-top: 10px;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-top: 8px solid #FFF;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #FFF;
}

/*-----------Accordion styles-----------*/

h2.resp-tab-active{
background-color: #182037 !important;
border-color: #182037 !important;
color: #fff !important;
opacity: 1 !important;
}

.resp-easy-accordion h2.resp-accordion { display: block; }

.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active { display: block; }
h2.resp-accordion:first-child {
float: left;
width: 100% !important;
background-color: #18b5d6;
color: #fff;
border-radius: 4px;
margin-right: 10px;
padding: 8px 18px;
text-align: center;
-webkit-transition: .5s;
-moz-transition: .5s;
-o-transition: .5s;
transition: .5s;
}
/* h2.resp-accordion:first-child { border-top: 1px solid #c1c1c1 !important; } */
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {

ul.resp-tabs-list { display: none; }

h2.resp-accordion { display: block; }

.resp-vtabs .resp-tab-content { border: 1px solid #C1C1C1; }

.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}

.resp-accordion-closed { display: none !important; }

.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
}
