@media only screen and (max-width:1199px) {
	#my-navbar-two-set .first_navbar li a{padding: 10px 15px;font-size: 15px;}
	.second_navbar li a img{width: 25px;}
	.logform .commsect{padding: 15px 15px;}
	.container{width: 100%;}
	.inner-sect .bgshow{margin-top: 75px;}
	.lftlog_sec{margin-top: -55px;}
	.lftlog{margin-top: -59px;}
	.bgshow-new-sign{height: 500px !important;margin-top: 110px !important;}
	.notifiaction_set .badge{padding: 2px 5px;}
	.profil_header_img{width: 35px !important;}
	.profil_details{margin-left: 7px;padding-top: 2px;}
	.profil_details span{font-size: 12px;}
	.navbar_pro_dropdown_set{margin-top: 3px;}
	.testi_m_profile{padding:0px;}
	.delet_testimonila_blog{margin-right: 0px;}
	.login_form{width: 65%;}
	.profile_share_add_link_here{padding: 30px 30px;}
	.plans_btn{padding: 6px 10px;font-size: 14px;}
	.plans_btn_sec{padding: 6px 15px;font-size: 14px;width: auto;}
}
@media only screen and (max-width:1180px) {
	.order_content_video a img{width: 30px;float: right;}
	.video_info_img{width: 72px;margin-right: 5px;}
}
@media only screen and (max-width:1134px) {
	.search_cancel_btn{width:100px;}
	.my_course_input_form{width: 30%;}
}
@media only screen and (max-width:1100px) {
	.new_rspo_common_section {padding: 30px 0;}
	.refer_frds_btn_new{margin-top: 15px;margin-bottom:0px;}
	.edit_profile_photo{top: 10px;left: 2px;}
	.dash_board_details_sec{float: left;width: auto;display: grid;margin-bottom: 0px;}
	.dash_bora_profil_user_sec .dash_img_profile_img{width: 115px;height: 115px;margin-bottom: 0px;}
	.session_cost_price{width: 27%;}
	.session_blog_list ul li{font-size: 12px;}
	.custom_my_course_btn {float: left; width: 100%; margin-top: 10px; border-top: 1px solid #dadada;}
	.offer_name_detils{width: 60%;}
	.offer_blog{height: 120px;}
	.user_details_photo{width: 18%;}
	#my-navbar-two-set .first_navbar li a{padding: 5px 10px;}
	#my-navbar-two-set .first_navbar{margin-top: 4px;}
	.user_details_home{padding: 15px 10px 15px;}
	#my-navbar-two-set .second_navbar li a{margin-right: 15px;}
	.user_details_home_info{margin-top: 0px;}
	.user_details_home_info h4{font-size: 18px;}
	.cours_level{margin-top: 10px;}
	.cours_level span{font-size: 14px;}
	.cours_level div{font-size: 14px;}
	.user_details_home_links div a{font-size: 12px;}
	.my_account_img{width: 13px;}
	.refer_img{width: 18px;}
	.user_details_home_links div a span{margin-right: 0px;}
	.user_details_home_links{width: 27%;}
	.user_details_home_links div:last-child{margin-bottom:0px;}
}
@media only screen and (max-width:1066px) {
	.video_info_img{width: 66px;}
	.fetaures_info_set{padding: 0 10px 20px;}
	.set_dat_tim span{font-size: 13px;margin-bottom: 4px;}
	.set_dat_tim div{font-size: 13px;}
	.profil_details span{width: auto;line-height: 13px;margin-top: 3px;}
	.profil_details{padding-top: 8px;margin-left: 5px;}
	.profil_header_img{margin-top: 4px;}
	.navbar_pro_dropdown_set{margin-top: -2px;}
	#my-navbar-two-set .first_navbar{padding-left: 0px;}
}
@media only screen and (max-width:1020px) {
	.testi_m_profile span{margin-right: 7px;margin-top: -45px;}
	.testi_m_profile_name h4{font-size: 16px;}
}
@media only screen and (max-width:991px) {
	.navbar_pro_dropdown_set .header_profile_drop_down img {border: 2px solid #2987fb;}
	.video_live_here iframe{height: 320px;}
	.avail_brainwave_cols{margin-bottom:0px;}
	.boosting_plan_first{margin-bottom: 150px;}
	.boosting_plan_sec{margin-bottom: 150px;}
	.boosting_plan_third{margin-bottom: 150px;}
	.boosting_plan_four{margin-bottom: 150px;}
	.profile_share_add_link_here {float: left; width: 48%; margin-right: 20px;}
	.profile_shar_refer_add_links .profile_share_add_link_here:last-child{margin-right: 0px;}
	.profile_user_details{margin-bottom: 30px;}
	.tabscontent_heading{margin-bottom: 30px;}
	.my_accoundetails{margin-bottom: 20px;}
	.tab_account_content{padding: 15px;}
	.acc_secti_tabing .nav li a{padding: 13px 20px;font-size: 15px;}
	.calender_form_set{width: auto;}
	.dash_account_set{margin-bottom:0px;}
	.dash_board_details h4{font-size: 15px;}
	.dash_board_details{margin-bottom: 0px;}
	.dash_bora_profil_user .dash_img_profile_img{width: 110px;height: 110px;margin-right: 0px !important;padding: 7px;margin-top: -48px !important;margin-bottom: 10px;margin-left:0px ;}
	.profile_details_img_with_btn{width: auto;text-align:left;margin-right: 15px;}
	.dash_bora_profil_user{margin-bottom: 52px;}
	.input_new_set_search{margin-bottom: 13px;}
	.foot_blogs{height: 260px;}
	.text_set{padding: 13px 5px;}
	.login_form_set_details{padding: 30px 30px;}
	.login_head h3{font-size: 25px;}
	.login_form_logo img{width: 220px;}
	.tak_tour_details_start_here h3{font-size: 17px;padding-bottom: 5px;}
	.take_tour_video_player{margin-top: 35px;}
	.main_section_head_sec h3{font-size: 19px;}
	.navbar-toggle{background-color: #4c9cff;padding: 7px 6px;}
	.navbar-toggle .icon-bar{background-color:#fff !important;}
	.navbar-toggle .icon-bar:last-child{margin-bottom:0px;}
	.nav_logo{padding: 6px 15px;}
	.contact_us_send_msg_btn{font-size: 16px;padding: 10px 20px;width:auto;}
	.cont_links_set span img{width: 42px;height: 42px;margin:0 auto;}
	.cont_links_set h5{font-size: 12px;line-height: 17px;}
	.cont_links_set span{margin-bottom: 0px;float: left;width: 100%;}
	.set_con_deta_det{width: 100%;text-align: center;word-break: break-all;}
	.set_con_deta_det_sec{width: 100%;float: left;text-align: center;word-break: break-all;}
	.cont_links_set{height: 125px;}
	.our_team_details .col-md-3 .our_team_blog{margin-bottom: 30px;}
	.our_team_details .col-md-3:nth-child(3) .our_team_blog{margin-bottom: 0px;}
	.our_team_details .col-md-3:last-child .our_team_blog{margin-bottom: 0px;}
	.testmonial_profiles_blogs_set .col-md-4:nth-child(4) .testominail_blogs_new{margin-bottom: 40px;}
	.my_pr_buttons{margin-top: 20px;}
	.profile_picture span{width: 110px;height: 110px;}
	.profile_picture h3{font-size: 20px;margin-top: 30px;}
	.profile_edit{bottom: 5px;left: 123px;}
	.order_listr_content .col-md-2:nth-child(5) .order_content{border-bottom: 0px;padding-bottom: 0px;margin-bottom:0px;}
	.order_content{margin-bottom:15px;border-bottom: 1px solid #dedddd;padding-bottom: 10px;}
	.tabing_form_set_btns{margin-top:0px;}
	.session_cost_price{width: 260px;}
	.group_live_width_cols{width: 50%;}
	.book_session_edit_section{padding:0px;}
	.calend_btn_group{margin-bottom: 15px;}
	.my_course_input_form{width:auto;}
	.order_content_video{width: 110px;}
	.rebook_buttons{margin-top: 15px; float: left; width: 100%; text-align: right; border-top: 1px solid #e3dede; padding-top: 10px;}
	.session-order-img-width-set {float: left; width: 23%; }
	.offier_blog_here .col-md-3:last-child .offer_blog{margin-bottom:0px;}
	.offer_blog{margin-bottom: 20px;}
	.testimonail_all_member{margin-top: 30px;}
	.view_all a{font-size: 17px;}
	.view_all{padding: 5px 0 0;}
	.pie_chart_head_sec h4{text-align: left;}
	.score_working_score h3{font-size: 27px;}
	.score_target h3{font-size: 27px;}
	.score_name{font-size: 13px;}
	.score_study h3{font-size: 27px;}
	.user_details_home_info{width: 190px;}
	.user_details_photo{width: 70px;}
	.user_details_home_links{width: 100%;margin-top: 15px;border-top: 1px solid #86c7f0;padding-top: 10px;}
	.testimonail_all_member .col-md-4:last-child .testominail_blogs{margin-bottom:0px;}
	.testominail_blogs{margin-bottom: 50px;}
	#my-navbar-two-set .navbar-collapse {border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
    #my-navbar-two-set .navbar-collapse.collapse {display: none!important;}
	#my-navbar-two-set .navbar-collapse.collapse.in {display: block!important;}
	#my-navbar-two-set .navbar-toggle{display:block;margin-bottom: 0px;margin-top: 15px;background-color: #4c9cff;padding: 7px 6px;}
	#my-navbar-two-set .navbar-toggle .icon-bar{background-color:#fff;width: 31px;height: 3px;border-radius: 30px;margin-bottom: 5px;}
	#my-navbar-two-set .navbar-toggle .icon-bar:last-child {margin-bottom: 0px;}
	#my-navbar-two-set .navbar_set{width:100%;}
	#my-navbar-two-set .navbar_set .first_navbar {float:left;width:100%;}
	#my-navbar-two-set .navbar_set .first_navbar li{float:left;width:100%;}
	#my-navbar-two-set .navbar_set .first_navbar li a{float:left;width:100%;border-radius:0px;text-align: right;padding: 10px 15px;border-bottom: 1px dashed #98dff0;}
	#my-navbar-two-set .navbar_set .first_navbar li:last-child a{border-bottom:0px;}
	#my-navbar-two-set .col-md-12{padding: 0px;}
	#my-navbar-two-set .navbar_set{width:100%;}
	#my-navbar-two-set .second_navbar{width: auto; position: absolute; top: 19px;right: 70px;}
	#my-navbar-two-set .navbar_set{padding:0px;}
	#my-navbar-two-set .navbar-header{width:100%;}
	.header_section .navbar .navbar_set #myNavbar{display: none;}
	.new-address-set .form-control{background-position: 0px 3px !important;background-size: 23px !important;}
	.sign_up_page_form .col-md-6{float:left;width:50%;}
	.sign_up_select_field .col-md-3{float:left;width:50%;}
	.inner-sect .bgshow{height: 360px;}
	.commsect .form-group .form-control{padding: 0px 10px 5px 35px;background-position: 0px 5px !important;background-size: 26px;font-size: 14px;height: 40px;}
	.logform .commsect .check_inner{padding-left: 0;}
	.logform .commsect .check_inner label{padding-left: 35px;line-height: 25px;}
	.forgotpass a{font-size: 14px;}
	.comm-btn{padding: 5px 15px;font-size: 17px;}
	.lastrow .form-group{margin: 25px 0px 0px 0px;}
	.lastrow p{font-size: 14px;}
	.soacila_links_sign_in li a{font-size: 25px;}
	.web_logo_log_sign a img{width: 260px;}
	.web_details h4{font-size: 19px;margin-bottom: 10px;}
	.loginpage{margin-bottom: 30px;}
	.commsect h1{font-size: 22px;}
	.teachers_img{width: 120px;height: 120px;}
	.teachers_img span{padding: 8px;}
	.teachers_name_img_star_rat{margin-top: -55px;}
	.teachers_subject_details{padding: 10px 10px 10px;}
	.teachers_socail_link ul li a{font-size: 17px;}
	.teachers_name_star_rat h4{font-size: 16px;}
	.teachers_subject_details h4{font-size: 15px;}
	.teachers_name_star_rat{margin: 10px 0 0px;}
	.teacher_info_blogs{margin-top: 60px;}
	.our_teachers_slider{margin-top: 10px;}
	.tak_tour_section{padding: 25px 0;}
	.our_teachers_section{padding: 25px 0;}
	.testimonail_section{padding: 25px 0;}
	.header_section_new .navbar_set{padding: 20px 0 15px;}
	.header_section_new .navbar_set .first_navbar li a{padding: 7px 15px;font-size: 15px;}
	.header_section_new .navbar-respo-set li a{padding: 7px 15px;font-size: 15px;}
	.nav_logo img{width: 150px;}
	.banner_details_new h2{font-size: 31px;}
	.banner_logo img{width: 90px;}
	.banner_content_new{margin-top: 35px;}
	.banner_back_img_set{height: 515px;}
	.main_section_head h3{font-size: 19px;}
	.section_heading_home .main_section_head div{width: 75px;margin-top: -9px !important;}
	.about_us_details_new{padding: 20px 20px;}
	.section_heading_home_info span{font-size: 14px;margin-bottom: 9px;}
	.features_section{padding: 25px 0;}
	.section_heading_home h4{font-size: 20px;margin-top: 5px;}
	.section_heading_home_new h4{font-size: 20px;margin-top: 5px;}
	.section_testimaonail_datals_slider #quote-carousel .carousel-indicators{margin-top: 20px;}
	.section_testimaonail_datals_slider .item blockquote h4{font-size: 21px;}
	.testim_blog_info::before{font-size: 54px;left: 92px;top: -57px;}
	.testim_blog_info::after{font-size: 54px;bottom: -20px;	}
	.foot_web_info{text-align: left;}
	.foot_blogs{margin-bottom: 30px;}
	.foot-logo a img{float: left;}
	.footer_details .col-md-3{float:left !important;}
}
@media only screen and (max-width:910px) {
	.sign_in_up_btn{width: auto;padding: 7px 30px;}
	.or_text{padding: 15px 0;text-align: left;}
	.login_sign_social_link .btn{width:auto;}
}
@media only screen and (max-width:900px) {
	.tooltip_new .tooltiptext_new{top: -18px;right: 28px;left: auto;}
	.tooltiptext_new::after{top: 23px; left: auto; right: -9px; transform: rotate(180deg);}
}
@media only screen and (max-width:840px) {
	.profile_share_add_link_here{padding: 21px 15px;}
	.tabs_heading span{font-size: 12px;}
	.tabs_heading h4{font-size: 13px;margin-bottom: 1px;}
	.tabs_nav_img{height: 90px;width: 90px;}
	.tabs_nav_img span img{width: 37px;}
	.login_sign_social_link .btn:first-child{margin-right: 10px;margin-bottom: 0px;}
	.login_sign_social_link{margin-bottom: 0px;}
	.google_link span i{font-size: 16px;}
	.fac_book_link span i{font-size: 16px;}
	.text_set{padding: 8px 5px;font-size: 13px;}
	.fac_book_link span{width: auto;padding: 3px 3px}
	.google_link span{width: auto;padding: 3px 3px}
	.tak_tur_video_start iframe{height: 240px;}
	.privacy_policy_content ul li{font-size: 13px;}
	.privacy_policy_content h4{font-size: 15px;}
	.privacy_policy_content_heading{padding: 7px 7px;margin-bottom: 10px;}
	.privacy_policy_content_sec h4{font-size: 14px;}
	.privacy_policy_content_heading h4{font-size: 18px;}
	.faq_set_info{margin-bottom: 20px;}
	.inn_cols_main_div .col-md-5{width:100%;}
	.inn_cols_main_div .col-md-7{width:100%;}
	.session_blog_head h4{font-size: 16px;}
	.answer_status img{width: 70px;}
	.incorrectanswer_status img{width: 70px;}
	.total_score label{font-size: 15px;}
	.answer_status h4{font-size: 17px;margin-top: 25px;}
	.incorrectanswer_status h4{font-size: 17px;margin-top: 25px;}
}
@media only screen and (max-width:800px) {
	.total_score label{font-size: 14px;}
	.total_score span{font-size: 20px;}
	.test_overview{margin-right: 18px;}
	.topic_name{width: 110px;margin-right: 10px;}
	.tutor{width: 115px;margin-right: 10px;}
}
@media only screen and (max-width:767px) {
	.avail_brainwave_cols_new .col-md-3:first-child{display:none;}
	.avail_brainwave_cols_new .col-md-3:last-child{display:none;}
	.avail_brainwave_cols .col-md-3{float:left;width:50%;}
	.avail_brainwave_cols_new .col-md-3{float:left;width:50%;}
	.blog_btn_set .btn{width: auto;padding: 7px 15px;font-size: 15px;}
	.common_section_details_here{margin-bottom:0px;}
	.profile_share_add_link_here span{width:auto;}
	.same_width_btn {width: auto;padding: 5px 17px !important;}
	.back_page{margin-top:0px;}
	.back_page img{width: 25px;}
	.profile_details_content .radio_button{margin-bottom: 10px;}
	.tabs_content_form .col-md-4{float:left;width:50%;}
	.my_session_status_sec{width:100%;margin-top: 10px;border-top: 1px solid #e3e3e3;padding-top: 5px;text-align:right;}
	.my_session_details_here{width: 70.6%;}
	.my_session_deta_set{width: auto;display: grid;}
	.my_session_btn{float: right;}
	.my_session_status{margin-top: 13px;padding-top: 10px;border-top: 1px solid #e3e3e3;width: 100%;text-align: left;}
	.calender_form_set{width: 100%;}
	.dash_bora_profil_user{margin-bottom: 30px;margin-top: 35px;}
	.piechart_details .col-sm-6 .dash_bora_profil_user{float:left;width:48%;}
	.piechart_details .col-sm-6 .dash_bora_profil_user:first-child{margin-right: 28px;}
	.foot_blogs{height:auto;margin-bottom: 15px;}
	.login_sign_up_btns_group_new .btn:first-child{margin-right: 10px;}
	.cancel_btn_sign_in{padding: 8px 30px;font-size: 15px;}
	.submit_btn_sign_in{padding: 8px 30px;font-size: 15px;}
	.signup_form{width: 100%;float:left;}
	.login_form{width: 100%;}
	.login_form_logo{margin-bottom: 10px;}
	.login_section{padding: 20px 0;}
	.secial_links_our_tems ul li a{font-size: 17px;}
	.scrollTop{padding: 0px 6px;}
	.scrollTop span i{line-height: 40px;}
	.tak_tur_video_start iframe{height: 310px;width: 70%;}
	.tak_tur_video_start{margin-bottom: 30px;}
	.web_section_common_latest{padding: 20px 0 20px;}
	.ou_team_section_latest{padding: 20px 0 20px;}
	.about_us{margin-bottom: 10px;}
	.our_team_img{height: 95px;width: 95px;}
	.section_heading_new_temp{margin-bottom: 10px;}
	.our_team_details .col-md-3{float:left;width:50%;}
	.test_profil_info ul li:last-child{border-bottom:0px;padding-bottom:0px;}
	.test_profil_info ul li{border-bottom: 1px solid #ede9e9;padding: 5px 0 7px;}
	.test_profil_info ul li span{float: left;width: 100%;margin-bottom: 5px;}
	.testmonial_profiles_blogs_set .col-md-4{float:left;width:50%;}
	.testimonial_form{margin-bottom: 25px;}
	.profile_info .col-sm-6{width:50%;float:left;}
	.stron_main_notifa p{font-size: 14px;}
	.stron_main_notifa{padding:0px;}
	.date_of_notification_active{font-size: 11px;}
	.date_of_notification{font-size: 11px;}
	.noti_list_pass p{width: 90%;}
	.noti_list_pass h4{font-size: 14px;}
	.noti_list_pass{padding: 10px 10px;}
	.web_section_common{padding: 30px 0 30px;}
	.new_order_content .col-md-2:nth-child(3) .order_content{margin-bottom: 10px !important;border-bottom: 1px solid #e3dddd !important;padding-bottom: 10px !important;}
	.new_order_content .col-md-2:nth-child(5) .order_content{margin-bottom: 10px !important;border-bottom: 1px solid #e3dddd !important;padding-bottom: 10px !important;}
	.group_live_width_cols{width: 50%;float:left;}
	.popups_calender_width{width: 425px;}
	.book_session_edit_section .col-md-4{width:50%;float:left;}
	.graident_border_left::after {display:none;}
	.graident_border_left{border-bottom: 1px solid #e1dede;padding-bottom: 15px;}
	.session_blog_here {margin-bottom: 35px;}
	.session_book_section .col-md-6:last-child .session_blog_here{margin-bottom:0px;}
	.calend_set_new{margin-bottom: 20px;}
	.session_list_blog_list_here{width: 50%;}
	.new_ord_list{margin-bottom: 0px !important; border-bottom: 0px !important; padding-bottom: 0px !important;}
	.order_list_new_blogs .col-md-2:nth-child(3) .order_content{margin-bottom: 10px !important;border-bottom: 1px solid #e3dddd !important;padding-bottom: 10px !important;}
	.order_content{margin-bottom: 10px;border-bottom: 1px solid #e3dddd;padding-bottom: 10px;}
	.order_listr_content .col-md-2:last-child .order_content{border-bottom:0px;margin-bottom:0px;padding-bottom:0px;}
	.order_listr_content .col-md-2:nth-child(3) .order_content{border-bottom:0px;margin-bottom:0px;padding-bottom:0px;}
	.session-order-img-width-set{width: 30%;}
	#view_course_video_set_popup .modal-dialog {width: 500px;}
	.fancy-collapse-panel .panel-heading a{padding: 13px 35px 13px 40px;}
	.panel-title{font-size: 14px;}
	.cheak_box_here{left: 23px;top: 8px;}
	.round label{height: 23px;width: 23px;}
	.round label::after{top: 5px;left: 4px;}
	.view_detils_subject .cheak_box_here{left: 9px;top: 10px;}
	.fancy-collapse-panel .panel-heading a::after{font-size: 17px;}
	.view_detils_subject .panel-body{padding:0px 5px;}
	.cours_table{margin-top: 5px;}
	.view_detils_subject{padding: 15px 15px;}
	.saerch_user_form .col-md-3{float:left;width:50%;}
	.modal-body{padding: 15px 15px;}
	.refe_frd_tab_content{padding: 15px 0;}
	.refer_friend_popup_details .nav-tabs li a span{width: 16px;margin-right: 5px;}
	.refer_friend_popup_details .nav-tabs li a div{font-size: 13px;margin-top: 0px;}
	.refer_friend_popup_details .nav-tabs li a{padding: 10px 10px;}
	.refer_friend_width_popup{width: 500px;}
	.profil_details{display:none;}
	.banner_content h4{margin: 0px;font-size: 16px;}
	.view_all a{font-size: 15px;}
	.testimonial_section{padding: 10px 0 25px;}
	.piechart_section{padding: 20px 0 35px;}
	.piechart_details .col-sm-6 .dash_bora_profil_user:first-child{margin-right: 15px;}
	.testimonail_all_member .col-md-4{float:left;width:50%;}
	.user_details_home_links{width: auto;padding-top: 10px;float: right;border-top:0px;border-left:1px solid #86c7f0;padding-left: 10px;padding-top: 0px;}
	.custom_width_user_det{width: 100%;}
	.score_set_here .col-md-4{float: left;width: 33.3%;}
	.custom_width_user_det_sec{width: 100%;}
	.my_scoreboard{margin-bottom: 20px;}
	.cours_level{margin-top: 5px;}
	.pie_chart_blogs{margin-bottom: 20px;}
	#my-navbar-two-set .navbar-nav .open .dropdown-menu{position: absolute;background-color:#fff;border: 1px solid #ccc;}
	#my-navbar-two-set .navbar-nav .open .dropdown-menu li{width:100%;}
	#header_section_new .navbar-header .navbar-toggle{margin-bottom: 0px; margin-top: 15px; background-color: #18aed1; padding: 9px 7px;}
	#header_section_new .navbar-header .navbar-toggle .icon-bar{background-color: #fff; width: 31px; height: 3px; border-radius: 30px; margin-bottom: 5px;}
	#header_section_new .navbar-header .navbar-toggle .icon-bar:last-child {margin-bottom: 0px;}
	#my-navbar-two-set .second_navbar li{display: inline-flex;}
	#my-navbar-two-set .second_navbar{margin: 0px;}
	#my-navbar-two-set .first_navbar{margin: 0px !important;position:relative;}
	#my-navbar-two-set .navbar-toggle{margin-right: 15px;}
	#my-navbar-two-set .navbar_set .first_navbar li a{margin:0px;}
	.model_forgot_pass_popup{width: 395px;}
	.modal-dialog{margin:0 auto;margin-top:20px;}
	.bgshow-new-sign{height: auto !important;margin-top: 0px !important;}
	.lftlog_sec{width: 100%;margin-top: 95px;}
	.website_right_details_sec{padding-bottom: 20px;width: 100%;}
	.new-signup-page-set{margin-bottom: 0px;}
	.web-sign-signup-logo-new {position: absolute; right: 0; top: 10px;}
	.web-sign-signup-logo-new a img {margin: 0 auto;}
	.model_content p br{display:none;}
	.pop_form{margin-top: 15px;}
	.website_right_details{width:46%;}
	.lftlog{width:50%;}
	.header_section_new .navbar_set .first_navbar li a{border-radius: 0px !important;margin-right:0px;border-bottom: 1px dashed #ccc;}
	.header_section_new .navbar_set .first_navbar li:last-child a{border-bottom: 0px;}
	.section_heading_home_new .main_section_head div{width: 60px !important;}
	.banner_back_img_set{height: 460px;}
	.banner_details_new h2{font-size: 25px;}
	.banner_details_new span{font-size: 15px;}
	.banner_serach_box{width: 50%;}
	.banner_logo img{width: 80px;}
	.banner_content_new{margin-top: 20px;}
	.banner_logo{margin-bottom: 15px;}
	.header_section_new .col-md-12{padding:0px;}
	.header_section_new .navbar_set .nav{float: left;margin: 0px !important;}
	.header_section_new .navbar_set{width: 100%;padding:0px;}
	.header_section_new .navbar_set .navbar-respo-set li{float: left;}
	.header_section_new .navbar_set .navbar-respo-set{position: absolute;top: 18px;right: 70px;}
	.navbar-toggle .icon-bar{background-color:#2c407b;width: 32px;height: 3px;margin-bottom: 5px;}
	.navbar-toggle{margin-top: 17px;}
	.header_section_new .navbar_set .first_navbar {padding: 0px;width: 100%;float: left;text-align: right;}
	.header_section_new .navbar_set .first_navbar li a{padding: 15px 15px;}
	.section_heading_home .main_section_head div{width: 60px;margin-top: 2px !important;}
	.section_heading_home .main_section_head{margin-top: 0px;}
	.section_heading_home{margin-bottom: 10px;}
	.featurs_details_data{margin-top: 13px;}
	.section_heading_home h4{font-size: 20px;}
	.section_heading_home_new h4{font-size: 20px;}
	.featurse_banner{height: 165px;}
	.features_blog_pric_label{font-size: 16px;padding: 8px 4px 2px;}
	.features_blog_pric_label::after{border-left: 23px solid transparent;border-right: 23px solid transparent;border-top: 15px solid #18b5d6;bottom: -15px;}
	.features_blog_pric_label::before{border-left: 10px solid transparent;right: -10px;}
	.fetures_user_name span{width: 88px;height: 88px;padding: 5px;}
	.features_name_set h4{font-size: 15px;margin-top: 5px;}
	.features_name_set ul li a{font-size: 14px;}
	.features_time_date .col-md-3{width: 25%;float:left;}
	.features_time_date .col-md-4{width: 33.33333333%;float:left;}
	.features_time_date .col-md-5{width: 41.66666667%;float:left;}
	.about_us_details_new{padding: 20px 10px;}
	.section_heading_home_info{width: 100%;}
	.tak_tour_section{padding: 20px 0;}
	.take_tour_video_player video{width: 60%;}
	.our_teachers_section{padding: 30px 0;}
	.featurs_details_data .features_owl_multiple_img_slider .owl-dots .owl-dot{width: 5px;height: 5px;}
	.featurs_details_data .features_owl_multiple_img_slider .owl-dots{margin-top: 20px;}
	.our_teachers_slider .our_teachers_owl_multiple_img_slider .owl-dots{margin-top: 20px;}
	.our_teachers_slider .our_teachers_owl_multiple_img_slider .owl-dots .owl-dot{width: 5px;height: 5px;}
}
@media only screen and (max-width:700px) {
	.edit_profile_photo{width: 25px;height: 25px;padding: 3px 0;}
	.common_sectiontabbin_session{margin-bottom: 0px;}
	.save_adn_cancel_btn_grp_new{margin-top: 20px;}
	.common_btn_new{width:auto;padding: 6px 24px;}
	.user_prvi_det_lists div{font-size: 13px;}
	.user_prvi_det_lists{margin-bottom: 10px;}
	.user_prvi_det_lists span img{width: 16px}
	.dash_board_details_sec span{font-size: 14px;}
	.star_ratting_table_views{margin-top: 5px;}
	.dash_board_details_sec h4{font-size: 15px;}
	.dash_bora_profil_user_sec .dash_img_profile_img{width: 80px;height: 80px;margin-right: 10px !important;}
	.piechart_details .col-sm-6 .dash_bora_profil_user{height: 280px;}
	.dash_account_set{width: 100%;border-top: 1px solid #ccc;padding-top: 5px;}
	.star_ratting_table_views small{float: left;width: 100%;}
	.star_ratting_table_views ul{float: none; width: auto; margin-right: 0px; display: inline-block;}
	.dash_board_details{width: 100%;text-align: center;}
	.profile_details_img_with_btn{width: 100%;text-align: center;margin-bottom: 20px;}
	.dash_bora_profil_user .dash_img_profile_img{margin-left: auto;margin-right: auto !important;}
	.contact_us_form_set{float: left;width: 100%;margin: 0 auto;}
	.cont_links_set{height: 130px;}
	.total_score{width:100%;text-align: left;}
	.contact_us_add_web_details{margin-bottom: 20px;}
	.contact_us_info{margin-top:0px;}
	.conatct_form_set textarea{height: 90px;}
}
@media only screen and (max-width:640px) {
	.visit_you_radio_btn{padding: 15px 15px;}
	.blog_btn_set{float: right;width: 100%;margin-top: 20px;text-align: center;}
	.profile_share_add_link_here span{float: left;width: 100%;}
	.profile_share_add_link_here span img{margin:0 auto;}
	.profile_shar_refer_add_links .profile_share_add_link_here:last-child{margin-bottom:0px;}
	.profile_share_add_link_here{width:100%;margin-right:0px;}
	.common_section{padding: 30px 0;}
	.tabing_nav__content{padding: 0px 15px;}
	.profile_details_content_new{margin-top:5px;}
	.form_set_sec{margin-bottom: 15px;}
	.form_set_sec span{font-size: 13px;margin-bottom: 5px;}
	.tabs_content_form .col-md-4{float:left;width:100%;}
	.tabing_nav_here ul li a{padding: 5px 5px;}
	.common_sectiontabbin_session{padding: 10px 0px;}
	.tabs_navelink{margin-top: 0;}
	.tabs_heading span{display:none;}
	.tabs_nav_img span img{width: 30px;}
	.tabs_nav_img span{padding: 22px 0;}
	.tabs_nav_img{height: 75px;width: 75px;padding: 0;}
	.my_session_status h2{font-size: 21px;margin-bottom: 5px;}
	.session_comm_btn{padding: 4px 23px;font-size: 14px;}
	.my_session_deta_set small{font-size: 13px;}
	.my_session_deta_set span{font-size: 13px;}
	.my_session_deta_set h4{font-size: 15px;}
	.my_session_id_details h4{font-size: 15px;}
	.my_session_date{font-size: 13px;margin-top: 0px;}
	.my_session_id_details span{}
	.my_session_id_details span img{width: 19px;}
	.more-less{margin-left: 15px;}
	.our_strory_list ul li::after{top: 3px;}
	.section_heading_new_temp h4{font-size: 17px;padding-bottom: 8px;}
	.section_heading_new_temp{margin-bottom: 15px;}
	.section_heading_new_temp p{margin-top: 0px;}
	.change_password_popup_width{width: 430px;}
	.my_pr_buttons{margin-top: 0px;}
	.profile_picture h3{margin-top: 15px;font-size: 18px;}
	.profile_edit{left: 105px;}
	.profile_picture span{width: 90px;height: 90px;}
	.session_list_heading h4{font-size: 16px;}
	.congratulation_popup_width{width: 400px;}
	.session_questions{font-size: 15px;}
	.ans_option .radio_btn_group span label{font-size: 14px;}
	.answer_heading{font-size: 14px;}
	[type="radio"]:checked + label::before, [type="radio"]:not(:checked) + label::before{width: 20px;height: 20px;}
	[type="radio"]:checked + label::after, [type="radio"]:not(:checked) + label::after{top: 4px;left: 4px;width: 12px;height: 12px;}
	.my_account_session_tabs .nav  li a{width: 130px !important;}
	.my_account_tabbing .nav-tabs li a{width: auto;}
	.my_account_session_tabs .nav-tabs li a{font-size: 14px;padding-left: 35px;}
	.my_account_session_tabs .nav-tabs .active a::before{width: 15px;height: 15px;}
	.my_account_session_tabs .nav-tabs li a::after{width: 27px;height: 27px;}
	.order_list_heading h4{font-size: 16px;}
	.order_list_date{font-size: 13px;}
	.order_list_heading{margin-bottom: 7px;}
	.order_list_info_heading h4{font-size: 15px;}
	.order_content span{font-size: 14px;margin-bottom: 5px;}
	.order_content div{font-size: 13px;}
	.session-order-img-width-set{width: 32%;}
	.testominail_blogs{padding: 15px 10px;}
	.testi_m_profile_name h4{font-size: 15px;}
	.testi_m_profile span{margin-top: -36px;}
	.testi_m_profile span img{width: 80px;}
	.search_box_set{min-width: 220px;}
	.lftlog{margin-top: -33px;}
	.inner-sect .bgshow{margin-top: 50px;}
	.soacila_links_sign_in li{margin-right: 18px;}
	.soacila_links_sign_in span{margin-bottom: 2px;}
	.commsect .lastrow{margin-top: 10px;}
	.commsect .lastrow .form-group{margin-bottom:0px;}
	.logform .commsect .check_inner label{padding-left: 31px;line-height: 21px;}
	.forgotpass a{font-size: 13px;}
	.check_inner [type="checkbox"].filled-in:not(:checked) + label::after{height: 22px !important;width: 22px !important;}
	.check_inner [type="checkbox"].filled-in:checked + label::after{height: 22px !important;width: 22px !important;}
	.check_inner [type="checkbox"].filled-in:checked + label::before{top: 1px; left: 2px; width: 8px; height: 13px;}
	.comm-btn{padding: 5px 12px;font-size: 15px;}
	.commsect .form-group{margin: 0px 0px 20px 0px;}
	.take_tour_video_player video{padding: 10px;width: 70%;}
	.section_testimaonail_datals_slider #quote-carousel .carousel-inner .item .col-sm-offset-2{margin-left:0px;width:100%;}
	.testim_blog_info::before{left: 0;font-size: 35px;top: -27px;}
	.testim_blog_info::after{right: 0;font-size: 35px;bottom: -15px;}
	.testim_blog_info{margin-top: 30px;margin-bottom: 30px;}
	.section_testimaonail_datals_slider  #quote-carousel .carousel-indicators li{width: 10px;height: 6px;}
	.section_testimaonail_datals_slider  #quote-carousel .carousel-indicators .active{width: 10px;height: 6px;}
	.section_testimaonail_datals_slider #quote-carousel .carousel-indicators{margin-top: 10px;}
}
@media only screen and (max-width:600px) {
	.visit_you_radio_btn_sec ul li{border-bottom: 1px solid #d2d2d2;padding-bottom: 5px;margin-bottom: 5px;}
	.visit_you_radio_btn_sec ul li span{float:left;width:100%;}
	.profil_details_cont_respo {float: left; width: 100%;border-bottom: 1px solid #e1e0e0;padding-bottom: 5px;}
	.profile_personal_details ul li .profile_details_content{width: 100%;border-bottom: 1px solid #e1e0e0;padding-bottom: 5px;}
	.info-link-details_sec{top: 27px;right: 15px;position: absolute;}
	.profile_personal_details ul li{margin-bottom: 15px;position:relative;}
	.profile_personal_details ul li .input_boxes_set{width: 100%;}
	.profile_personal_details ul li span{width: 100%;margin-bottom: 5px;}
	.common_btn{padding: 6px 20px;}
	.delet_testimonila_blog{position: absolute;right: 0px;top: 0;}
	.testi_m_profile{position: relative;margin-bottom: 5px;}
	.profile_details{padding: 70px 0 30px;}
	.profile_edit{width: 23px;bottom: -1px !important;left: 70px;}
	.profile_picture h3{margin-top: 6px;}
	.my_pr_buttons{width: 100%;text-align: right;}
	.common_btn_sec{border:1px solid #18b0d5;color:#18b0d5;font-size: 13px;}
	.my_profile_user{margin-bottom: -73px;}
	.profile_picture span{width: 55px;height: 55px;padding: 3px;}
	.profile_picture{width:100%;}
	.my_pr_buttons{width:100%;}
	.profile_picture h3{font-size: 14px;}
	.my_profile_user{margin-top: 13px;}
	.noti_list_pass p{width: 85%;}
	.test_overview{width:49%;margin-right: 10px;}
	.topic_name{width: 49%;margin-right: 0px;}
	.tutor{width: 49%;float:left;margin-bottom: 10px;}
	.new_toutor_resp{margin-right:0px;}
	.test_profil_info{margin-top: 5px;}
	.testi_m_profile span{margin-top: -45px;}
	.testi_m_profile_name{width: 100%;margin-top: 10px;}
	.second_navbar li a img{width: 22px;}
	#my-navbar-two-set .second_navbar li a{margin-right: 11px;}
	.profil_details span{font-size: 11px;}
	.profil_details small{font-size: 10px;line-height: 9px;}
	.profil_details{margin-left: 3px;}
	.header_profile_drop_down i{margin-right: 0px;margin-left: 2px;}
	.navbar_pro_dropdown_set{margin-top: 0px;}
	.pop_btn_sect{margin-top: 15px;}
	.forgot_ps_input{background-size: 30px;}
	.commsect h1{margin: 0px 0px 15px 0px;}
	.web_logo_log_sign{position: absolute;right: 0;top: 10px;}
	.loginpage{margin-bottom: 0px;}
	.lftlog{width: 100%;margin-top: 90px;}
	.web_logo_log_sign a img{margin: 0 auto;}
	.website_right_details{width: 100%;padding-bottom: 20px;}
	.inner-sect .bgshow{margin-top:0px;height:auto;}
	.teachers_img{height: 110px;width: 110px;}
	.teacher_info_blogs{margin-top: 50px;}
}
@media only screen and (max-width:540px) {
	.visit_you_radio_btn_sec{padding: 10px 10px;}
	.video_note span{font-size: 12px;}
	.video_note{padding: 0px 0 10px;}
	.our_strory_list_sec ul{padding-left:0px;}
	.live_video_heading{padding: 10px 10px;}
	.live_session_time{width: 100%;text-align: right;padding-top: 5px;border-top: 1px solid #dedede;margin-top: 5px;}
	.live_session_time h4{float:right;}
	.video_live_here iframe{height: 230px;}
	.live_session_time h4{font-size: 13px;}
	.video_live_here{padding: 10px 10px;}
	.boosting_plan_five{margin-bottom: 150px;}
	.avail_brainwave_cols_new .col-md-3{width:100%;}
	.avail_brainwave_cols .col-md-3{width:100%;}
	.tooltiptext_new::after{top: 14px;}
	.tooltip_new .tooltiptext_new{top: -12px;font-size: 11px;padding: 5px 5px;}
	.common_section_details_here{padding: 10px;}
	.info-link-details_sec{font-size: 18px;right: 13px;top: 29px;}
	.my_account_data .col-md-4{width:100%;}
	.input_boxes_set{margin-bottom: 0px;}
	.tabscontent_heading h4{font-size: 18px;}
	.tabscontent_heading{margin-bottom: 15px;margin-top: 15px;}
	.tabs_nav_img span{padding: 15px 0;}
	.tabs_nav_img{height: 60px;width: 60px;}
	.my_account_data  .col-md-5{width:100%;}
	.dash_bora_profil_user_sec{border-bottom: 1px solid #dad8d8;margin-bottom: 10px;padding-bottom: 10px;}
	.common_section_heading_new{margin-bottom: 5px;}
	.my_session_plan_label{font-size: 14px;}
	.comm_btn{padding: 4px 10px;font-size: 14px;}
	.comm_btn_sec{padding: 4px 10px;font-size: 14px;}
	.acc_secti_tabing .nav li a{padding: 7px 6px;font-size: 14px;}
	.common_section_heading_new h4{font-size: 15px;}
	.common_btn{padding: 4px 12px;font-size: 14px;}
	.my_sesion_id_head{padding: 7px 7px;}
	.my_session_info{padding: 7px 7px;}
	.my_session_details_here{width: 100%;margin-top: 15px;}
	.common_section_details_here_new{padding: 10px;}
	.calender_btn{font-size: 14px;width: auto;}
	.common_section_new{padding: 25px 0;}
	.calender_form_set .col-md-6{width:100%;}
	.dash_profile_datils_account .dash_bora_profil_user:last-child{margin-bottom: 30px;}
	.piechart_details .col-sm-6 .dash_bora_profil_user{width:100%;height:auto;}
	.piechart_details .col-sm-6 .dash_bora_profil_user:first-child{margin-right:0px;}
	.section_details_se_new{padding: 10px 10px;}
	.more-less{padding: 9px 6px;width: 25px;height: 25px;font-size: 24px;margin-top: -5px;}
	.login_head{margin-bottom:0px;}
	.cancel_btn_sign_in{padding: 6px 20px;font-size: 15px;}
	.submit_btn_sign_in{padding: 6px 20px;font-size: 15px;}
	.login_head h3{font-size: 22px;}
	.login_sign_up_btns_group .btn:first-child{margin-right: 10px;}
	.sign_in_up_btn{padding: 6px 20px;font-size: 15px;}
	.login_form_logo img{width: 180px;}
	.login_form_set_details{padding: 15px 15px;}
	.contact_us_send_msg_btn{font-size: 15px;padding: 8px 18px;}
	.section_details{padding: 10px;}
	.section_details_new{padding: 10px;}
	.section_heading_new_temp h4{font-size: 15px;}
	.section_heading_new_temp h4{padding-bottom: 2px;}
	.about_us{height: 180px;}
	.our_team_details .col-md-3:nth-child(3){margin-bottom: 30px;}
	.tak_tur_video_start iframe{width:100%;height: 265px;}
	.privacy_policy_content_heading h4{font-size: 16px;}
	.privacy_policy_content p{margin-bottom:0px;padding-left: 0px;}
	.privacy_policy_content_sec{padding-left: 15px;}
	.privacy_policy_content_sec p{padding-left: 0px;}
	.privacy_policy_content ul{padding-left: 10px;}
	.privacy_details_container .privacy_policy_main_group:last-child{margin-bottom:0px;}
	.privacy_policy_content_sec ul{padding-left: 15px;}
	.cont_links_set::after{display:none;}
	.contact_us_add_web_details .col-md-4{width:100%;}
	.cont_links_set{height:auto;padding: 10px 10px;margin-bottom: 10px;}
	.our_team_details{margin-top: 10px;}
	.our_team_details .col-md-3{width:100%;}
	.testmonial_profiles_blogs_set .col-md-4:nth-child(5) .testominail_blogs_new{margin-bottom: 40px;}
	.testmonial_profiles_blogs_set .col-md-4{width:100%;}
	.add_topic_btn_new{padding-top: 10px;margin-top: 0px;}
	.save_cancel_btn{width:auto;}
	.testimonial_form .col-md-4{width:100%;}
	.main_profil_btn{margin-top: 5px;}
	.change_password_popup_width{width: 330px;}
	.profile_info .col-sm-6{width:100%;}
	.my_profile_user{margin-bottom: -110px;border-bottom: 1px solid #e0e0e0;padding-bottom: 15px;}
	.my_pr_buttons{margin-top: 20px;}
	.profile_details{padding: 100px 0 30px;}
	.profil_data label{width:100%;font-size: 13px;margin-bottom: 3px;}
	.profil_data{padding: 5px 0;}
	.data_deatils{font-size: 13px;width:100%;}
	.noti_list_pass h4{font-size: 13px;}
	.session_list_heading h4{font-size: 15px;}
	.session_heading_date{font-size: 14px;}
	.order_listr_content .col-md-2{width: 50%;}
	.session_list_book_btn_groups .book_btn{width:auto;}
	.new_order_content .col-md-2{width: 50%;}
	.group_live_width_cols{width: 100%;}
	.popups_calender_width{width: 350px;}
	.session_cost_price{padding: 15px 15px;font-size: 35px;}
	.session_cost_price span{font-size: 15px;margin-top: 17px;}
	.book_session_edit_section .col-md-4{width:100%;}
	.book_session_btn{width:auto;}
	.session_list_blog_list_here{width:100%;}
	.test_overview{width: 100%;margin-right: 0px;}
	.congratulation_popup_width{width: 350px;}
	.custom_session_que_ans_height_custom{padding-right: 17px !important;}
	.section_heading_sec .back_page img{width: 25px;}
	.section_heading_sec{margin-bottom: 5px;padding-bottom: 5px;}
	.section_heading_sec h4{font-size: 15px;}
	.course_btn_groups{text-align:left;}
	.course_btnset_btn{width: auto;font-size: 14px;}
	.session-order-img-width-set{width:100%;}
	.session_order_img{width: 170px;height: 160px;margin-bottom: 13px;}
	.session_order_lists .col-md-10{width:100%;}
	#view_course_video_set_popup .modal-dialog {width: 350px}
	.cours_table_set tbody tr td:first-child{float: left;width:130px;}
	.view_detils_subject .panel-body{padding:0px;}
	.view_detils_subject{padding: 10px 10px;}
	.offier_blog_here .col-md-3{width:100%;float:left;}
	.search_cancel_btn{width: auto;}
	.web_section_common{padding: 25px 0 25px;}
	.btn_group_set{margin-top: 10px;}
	.saerch_user_form .col-md-3{width:100%;}
	.model_header img{width: 50px;}
	.model_header h5{font-size: 15px;}
	.delet_cours_popup_width{width: 300px;}
	.pop_btn_sect_new{margin-top: 10px;}
	.refer_friend_popup_details .nav-tabs li a span{width: 100%;margin-right: 0px;margin-bottom: 5px;}
	.refer_friend_popup_details .nav-tabs li a span img{margin:0 auto;width: 23px;}
	.refer_friend_popup_details .nav-tabs li a{text-align:center;height: 85px;}
	.refer_friend_popup_details .nav-tabs li a div{float: none;}
	.refer_friend_width_popup{width: 360px;}
	.form_set_n_h .form-control{height: 35px;}
	.score_study h3{font-size: 23px;}
	.score_target h3{font-size: 23px;}
	.score_working_score h3{font-size: 23px;}
	.user_details_home_links{display: grid;}
	.user_details_home_links div{width: auto;}
	.testominail_blogs{margin-bottom: 40px;}
	.blog_heading h4{font-size: 15px;}
	.testimonail_all_member .col-md-4{width:100%;}
	.search_box_set{min-width: 180px !important;}
	.navbar_pro_dropdown_set .dropdown-menu::after{right: 20px;}
	#my-navbar-two-set .navbar-nav .open .dropdown-menu{min-width: 120px;}
	.navbar_pro_dropdown_set .dropdown-menu li a{font-size: 13px !important;padding: 5px 10px !important;}
	.logout_list{padding: 8px 5px 0px !important;}
	.navbar-toggle .icon-bar{width: 25px !important;height: 2px !important;}
	.navbar-toggle{margin-right: 10px !important;padding: 8px 6px;}
	#header_section_new .navbar-header .navbar-toggle{padding: 8px 7px;margin-top: 12px;}
	.header_profile_drop_down i{font-size: 11px;margin-left: 3px;}
	.navbar_pro_dropdown_set .header_profile_drop_down img{border: 2px solid #19b2d4;}
	.navbar_pro_dropdown_set .profil_details{display:none;}
	#my-navbar-two-set .second_navbar{top: 16px;}
	#my-navbar-two-set .navbar-toggle{margin-top: 8px;}
	#my-navbar-two-set .navbar-toggle .icon-bar{width: 25px;height: 2px;}
	#my-navbar-two-set .navbar-toggle{padding: 8px 6px;margin-top: 16px;}
	.new-address-set .form-control{background-size: 20px !important;}
	.commsect .form-group .form-control{background-size: 23px;padding: 0px 10px 5px 30px;}
	.fot_blo_head h4{font-size: 17px;padding-bottom: 9px;margin-bottom: 5px;}
	.foot_blogs{margin-bottom: 15px;}
	.fot_blo_head{margin-bottom: 5px;}
	.model_forgot_pass_popup{width: 335px;}
	.foot_not_info{padding: 10px 0;}
	.foot_not_info p{font-size: 13px;}
	.soacial-footer-links li a{margin-right: 15px;margin-left: 15px;font-size: 21px;}
	.soacial-footer-links{padding: 5px 0 15px;}
	.foot-logo a img{width: 180px;}
	.foot-logo{margin-bottom: 10px;}
	.header_section_new .navbar_set .navbar-respo-set{top: 17px !important;right: 55px;}
	.header_section_new .navbar-respo-set li a{padding: 3px 7px;font-size: 14px;}
	.about_us_section_new{padding: 30px 0 10px;}
	.section_testimaonail_datals_slider{margin-top: 0px;}
	.section_testimaonail_datals_slider .item blockquote h4{font-size: 18px;}
	.take_tour_video_player{margin-top: 10px;}
	.main_section_head h3{font-size: 18px;}
	.take_tour_video_player video{width: 100%;}
	.banner_details_new h2{font-size: 22px;}
	.banner_serach_box{width: 90%;margin-top: 10px !important;}
	.banner_serach_box input{height: 35px;padding-right: 35px;background-size: 17px;}
	.banner_logo img{width: 70px;}
	.banner_details_new h2{font-size: 20px;}
	.banner_details_new span{font-size: 14px;}
	.banner_logo{margin-bottom: 5px;}
	.section_heading_home_new .main_section_head h3{font-size: 18px;}
	.section_heading_home h4{font-size: 17px;}
	.section_heading_home_new h4{font-size: 17px;}
	#my-navbar-two-set .navbar-header{position:relative;}
	.session_questions{font-size: 14px;}
	.topic_name{width: 110px;}
	.tutor{width: 110px;}
	.video_topic_details .topic_name label{font-size: 13px;margin-bottom: 5px;}
	.tutor label{font-size: 13px;margin-bottom: 5px;}
	.tutor span{font-size: 13px;}
}

@media only screen and (max-width:480px) {
	.login_sign_up_btns_group_new{text-align: center;margin-top: 20px;}
	.login_sign_up_btns_group{display: inline-block;text-align: center;}
	.sign_in_up_btn{padding: 6px 20px;font-size: 15px;float: none;}
	.fac_book_link span{padding:3px 15px;margin-right: 10px;}
	.fac_book_link span i{text-align: center;float: none;}
	.google_link span{padding:3px 15px;margin-right: 10px;}
	.google_link span i{text-align: center;float: none;}
	.login_sign_social_link .btn{width: 100%;}
	.login_sign_social_link .btn:first-child{margin-bottom:10px;}
	.or_text{text-align: center;}
}
@media only screen and (max-width:460px) {
	.user_details_home_links{width:100%;border-top:1px solid #86c7f0;border-left:0px;padding-top: 10px;padding-left:0px;}
}
@media only screen and (max-width:440px) {
	.tab_account_content{padding: 10px;}
	.my_session_account_head_btns{width: 100%;text-align: right;border-top: 1px solid #e0e0e0;padding-top: 3px;margin-top: 1px;}
	.my_session_date{font-size: 12px;border-top: 1px solid #fff;margin-top: 5px;padding-top: 5px;width:100%;float:right;text-align:right;}
	.congratulation_popup_width{width:300px;}
	.my_account_tabbing .tab-content{margin-top: 8px;}
	.book_session_tab .nav-tabs li {width:100%;margin-bottom:10px;}
	.book_session_tab .nav-tabs li:last-child{margin-bottom:0px;}
	.book_session_btn{width:100%;margin-bottom: 10px;}
	.book_sesion_buttons_set .btn:last-child{margin-bottom: 0px;}
	.my_course_input_form .form-control{width: 85%;}
	.my_course_input_form .form-control{margin-right: 9px;}
	.my_course_input_form{width:100%;}
	.course_btnset_btn{margin-bottom:10px;}
	.order_list_date{font-size: 11px;border-bottom: 1px solid #e0e0e0;padding-bottom: 4px;float:right;width:100%;text-align:right;margin-top: 5px;}
	#view_course_video_set_popup .modal-dialog {width: 300px}
	.cours_cost{font-size: 12px;}
	.search_box_set{padding: 4px;}
	.search_box_set::after{right: 0;left: 0;text-align: center;margin: 0 auto;}
	.search_btn_btn{padding: 6px 10px;}
	#my-navbar-two-set .navbar-nav .open .dropdown-menu{left: -75px;}
	.model_forgot_pass_popup{width: 290px;}
	.sign_up_page_form .col-md-6{width:100%;}
	.header_section_new .navbar_set .first_navbar li a{padding: 10px 14px;}
	.header_section_new .navbar_set .navbar-respo-set{top: 18px !important;right: 57px;}
	.header_section_new .navbar-respo-set li:last-child a{margin-right:0px;}
	.header_section_new .navbar-respo-set li a{margin-right:8px;font-size: 13px;padding:0px;}
	.header_section_new .navbar-respo-set li a:hover,.header_section_new .navbar-respo-set li a:focus{background:none !important;color:#333 !important;}
	.section_heading_home .main_section_head div{width: 42px;margin-top: 9px !important;}
	.main_section_head h3{font-size: 17px;}
	.section_heading_home_new .main_section_head h3{font-size: 17px;}
	.section_heading_home h4{font-size: 15px;}
	.section_heading_home_new h4{font-size: 15px;}
	.featurs_details_data{margin-top: 0px;}
	.section_heading_home_new .main_section_head div{width: 35px !important;margin-top: 2px !important;}
	.section_testimaonail_datals_slider .item blockquote h4{font-size: 16px;}
}
@media only screen and (max-width:400px) {
	.change_password_popup_width{width: 300px;}
	.noti_list_pass p{width: 81%;}
	.popups_calender_width{width: 300px;}
	.video_topic_details .tutor:last-child{margin-bottom:0px;border-bottom: 0px;padding-bottom: 0px;margin-right: 5px;}
	.tutor{width: 48%;margin-bottom:10px;border-bottom: 1px solid #e1dede;padding-bottom: 5px;margin-right: 5px;}
	.topic_name{width: 48%;margin-bottom:10px;border-bottom: 1px solid #e1dede;padding-bottom: 5px;margin-right: 5px;}
	.my_course_input_form .form-control{width: 80%;}
	.my_account_tabbing .nav  li a{width:auto;}
	.refer_friend_width_popup{width: 300px;}
	.header_profile_drop_down i{margin-top: 11px;}
	.navbar_pro_dropdown_set a{text-align: center; margin: 0 auto; margin-right: auto; display: inline-block !important;}
	.navbar_pro_dropdown_set{display: inline-block !important;}
	.navbar_pro_dropdown_set::after{display:none;}
	.profil_header_img{margin-top:0px;}
	.search_box_set::after{right: auto;left: 15px;}
	#my-navbar-two-set .navbar-nav .open .dropdown-menu{left: -10px;}
	.navbar_pro_dropdown_set .dropdown-menu li a{margin-left:0px !important;}
	#my-navbar-two-set .second_navbar{top: 9px !important;right: 63px;}
	#my-navbar-two-set .navbar-header{height:115px;}
	#my-navbar-two-set .second_navbar{top: 65px !important; right: 0; left: 0; text-align: center; margin: 0 auto;border-top: 1px solid #b4e6f2;padding-top: 5px;}
	#my-navbar-two-set .navbar-toggle{margin-top: 8px;z-index:9;}
	#my-navbar-two-set .navbar-toggle .icon-bar{width: 25px;height: 2px;}
	#my-navbar-two-set .navbar-toggle{padding: 8px 6px;margin-top: 10px;position: absolute; right: 0; top: 0px;}
	#my-navbar-two-set .nav_logo{float: left;width: 100%;}
	#my-navbar-two-set .nav_logo img{margin:0 auto;}
	#my-navbar-two-set .second_navbar li a{margin-right: 9px;margin-left: 9px;text-align: center;margin: 0 auto;}
	#my-navbar-two-set .second_navbar li{width: 33.3%;text-align: center;float: left;position:relative;}
	#my-navbar-two-set .second_navbar li::after{content: ""; float: left; width: 1px; height: 100%; background-color: #e3e3e3; position: absolute;top: 0; right: 0;}
	.second_navbar li:first-child a img{width: 20px;}
	.navbar_pro_dropdown_set  .dropdown-menu{min-width: 92px !important;}
	.navbar_pro_dropdown_set .dropdown-menu li a{padding: 3px 10px !important;}
	.logout_list{padding: 5px 5px 0px !important;}
	.navbar_pro_dropdown_set .dropdown-menu::after{right: 0;left: 0; text-align: center; margin: 0 auto;}
	.navbar_pro_dropdown_set .dropdown-menu li .logout_btn{padding: 2px 10px !important;}
}	