/*Login Page Css*/
.no_left_margin{margin-left: 0px !important;}
.float_width{float: left !important;width: 100% !important;}
.no_padd{padding:0px !important;}
.margin_img .cet_margin{margin:0 auto !important;}
.coustom_pop_width{max-width: 600px !important;}
.cust_box_padd{padding:30px 30px 10px 30px !important;}
.cout_forget_mar_hei{height: auto;margin-top: 14px !important;}
.cust_btn_set{color: #2987fb !important;font-size: 16px !important;padding: 0px 23px !important;border-radius: 32px !important;color: #fff !important;}
/*Login Page Css Stop*/
/*Dashboard Page Css*/
.header_logo_mar{margin: 6px;}
.margin-right_10{margin-right:10px;}
.notification_dis_cust{position:relative;}
.notification_dis_cust_ab{position: absolute;top: 16px;right: 3px;background-color: #f6021c;padding: 4px 6px;}
.cust_user_log{height:auto !important;padding: 20px 18px !important;}
.navbar.navbar-fixed-top + #sidebar_left + #content_wrapper {padding-top: 40px;}
.login_user_info.float_width {padding: 30px 60px;background: linear-gradient(to bottom, rgba(32,112,161,.7), rgba(32,112,161,.9), rgb(32, 112, 161));}
.User_img_block{float: left;height: 170px;width: 100%;background-size: cover;background-position: center;background-repeat: no-repeat;}
.cust_name_profile{font-family: 'open_sanssemibold';font-size: 18px;}


.my_account_all_us_details {float: left;width: 100%;padding: 10px 0 10px;background-color: #fff;}
.my_account_data {float: left;width: 100%;}
.dash_dta_border_right {border-right: 1px solid #e0e0e0;}
.dash_bora_profil_user_sec {float: left;width: 100%;}
.dash_bora_profil_user_sec .dash_img_profile_img {float: left;width: 160px;height: 160px;border-radius: 100%;padding: 5px;background-color: #fff;margin-right: 17px !important;margin-top: 6px;position: relative;}
.dash_bora_profil_user_sec .dash_img_profile_img img {border-radius: 100%;height: 100%;object-fit: cover;object-position: center;}
.dash_board_details_sec {float: left;width: 50%;margin-bottom: 17px;margin-top:30px;}
.dash_board_details_sec h4 {float: left;width: 100%;color: #2987fb;margin-top: 0px;margin-bottom: 5px;font-size:20px;}
.dash_board_details_sec span {float: left;width: 100%;font-size: 16px;color: #414141;}
.user_count_name_no{float: left;width: 100%;padding: 14px 0px;}
.sub_user_name_title{font-size: 18px;float: left;width: 50%;color: #2987fb;}
.sub_user_name_count{font-size: 16px;float: left;width: 50%;}

























